
/*Media queries for medium device */

@media screen and (max-width:768px) {
    .nav-container{
        padding: 20px;
    }
     .nav-items-container{
        width: 80%;
    }
    .follow-icon{
    padding: 15px;

    
}
.banner-container{
    flex-direction: column-reverse;
     padding: 0;
     gap: 50px;
}
.game-card-container{
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
    gap: 20px;

    
}
.card-description{
    font-size: .75rem;
    text-align: center;
}

}











/*Media queries for small device */

@media screen and (max-width:425px) {

    .nav-container,
    .nav-items-container {
        flex-direction: column;
    }

    .nav-container{
        padding: 50px;
    }
    .nav-items-container{
        width: 100%;
    }
    
    .nav-items-container .about{
        margin-bottom: 35px;
        
    }
    .follow-icon{
       height: 56px;
       margin-top: 35px;
       padding: 0 25px;
    }

    .banner-container{
    flex-direction: column-reverse;
     padding: 0;
}
.banner-img{
    width: 100%;
    padding: 0 30px;
}
.banner-text{
    width: 85%;
    
}

.game-card-container{
    grid-template-columns: 1fr;
    padding: 0 15px;
    gap: 20px;

    
}
.game-card{
    width: 100%;
}

.games-section h2{
    font-size: 1.7rem;
}
.games-section > p{
   font-size: .85rem;
}
.card-description{
    font-size: .85rem;
    text-align: center;
}

}